<%- include('../partials/head', { title: 'Bong Bóng Ma Thuật' }) %>
<body class="game-body">
  <div class="bubbles-stage" data-game="bubbles">
    <a class="game-back bubbles-back" href="/games">Về</a>
    <div class="bubbles-layer" data-bubbles-layer></div>
    <div class="bubbles-hint" data-bubbles-hint>Chạm vào bong bóng để nổ! 🫧</div>
  </div>
  <script src="/js/games-core.js"></script>
  <script src="/js/games-bubbles.js"></script>
</body>
</html>
