<%- include('../partials/head', { title: 'Ú Òa Cùng Động Vật' }) %>
<body class="game-body">
  <div class="peek-stage" data-game="peekaboo">
    <a class="game-back peek-back" href="/games">Về</a>
    <div class="peek-hint" data-peek-hint>Chạm 2 lần vào chỗ nấp để tìm con vật! 🐾</div>
    <div class="peek-grid" data-peek-grid></div>
  </div>
  <script src="/js/games-core.js"></script>
  <script src="/js/games-peekaboo.js"></script>
</body>
</html>
