<%- include('../partials/head', { title: 'Họa Sĩ Nhí' }) %>
<body class="game-body">
  <div class="scratch-stage" data-game="scratch">
    <a class="game-back scratch-back" href="/games">Về</a>
    <div class="scratch-picture" data-scratch-picture></div>
    <canvas class="scratch-canvas" data-scratch-canvas></canvas>
    <div class="scratch-hint" data-scratch-hint>Dùng ngón tay quẹt để hiện bức tranh! 🖌️</div>
  </div>
  <script src="/js/games-core.js"></script>
  <script src="/js/games-scratch.js"></script>
</body>
</html>
